body {
  background-color: lightgray;
}


/* schedule background */ 
.background-gray {
  background: whitesmoke;
}


.bold {
  font-weight: bold;
}

/*for schedule column borders. */
.border-to-right {
  border-right: 1px solid;
  border-color: #1783ee;
}

.border-to-bottom {
  border-bottom: 2px solid;
  border-color: #1783ee;
}

.border-to-bottom-thin {
  border-bottom: 1px solid;
  border-color: #1783ee;
}


/*html button background*/
.background-red {
  background-color: #d22e33 !important;
}

.text-white {
  color: white;
}

.text-red {
  color: #d22e33;
}


/* for the join buttons */ 
.float-left {
  float: left;
}

.font-large {
  font-size: 1.2em;
}