body {
  background-color: #eeeeee;
}

.text-red {
  color: #d22e33;
  font-weight: bold;
  font-family: verdana, sans-serif;
  font-size: x-large;
}

.text-dark {
  color: rgb(49, 49, 49);
  font-weight: bold;
  font-family: verdana, sans-serif;
  font-size: x-large;
}

.background-dark {
  background: rgb(49, 49, 49);
}

.background-red {
  background: #d22e33;
}

.background-t-red {
  background: #d22e33;
  opacity: 0.9;
}

.text-white {
  color: whitesmoke;
}

.text-bold {
  font-weight: bold;
}

/*Heading is larger during big screen size */
.big-heading-text {
  font-size: 800%;
}

/*Heading shrinks at small screen size so it fits on one line */
@media screen and (max-width: 914px) {
  .less-big-heading {
    font-size: 400%;
  }
}

/*Heading shrinks at small screen size so it fits on one line */
@media screen and (max-width: 580px) {
  .no-heading {
    display: none;
  }
}
