body {
  background-color: #eeeeee;
}

/* #member {
  color: #d22e33;
  font-weight: bold;
} */

.text-red {
  color: #d22e33;
  font-weight: bold;
  font-family: verdana, sans-serif;
  font-size: x-large;
}

.text-dark {
  color: rgb(49, 49, 49);
  font-weight: bold;
  font-family: verdana, sans-serif;
  font-size: x-large;
}

.background-dark {
  background: rgb(49, 49, 49);
}

.background-red {
  background: #d22e33;
}
