body {
    background-color: #eeeeee;
}

#member {
    color: #d22e33;
    font-weight: bold;
}

#slogan {
    color: #d22e33;
    font-weight: bold;
    font-family: verdana, sans-serif;
    font-size: x-large;

}

