body {
  background-color: rgb(238, 238, 238);
}

/*Heading Section*/

/*Heading is larger during big screen size */
.big-heading-text {
  font-size: 800%;
}

/*Heading shrinks at small screen size so it fits on one line */
@media screen and (max-width: 800px) {
  .less-big-heading {
    font-size: 400%;
  }
}

/*Heading shrinks at small screen size so it fits on one line */
@media screen and (max-width: 580px) {
  .no-heading {
    display: none;
  }
}

/* Trainer Info */
.trainerInfo {
  background: whitesmoke;
  color: rgb(49, 49, 49);
}

.darkBtn {
  background: rgb(49, 49, 49);
  color: whitesmoke;
}

/*Meet our Trainers */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.background-t-red {
  background: #d22e33;
  opacity: 0.9;
}

.background-dark {
  background: rgb(49, 49, 49);
}

/* schedule background */
.background-gray {
  background: whitesmoke;
}

/*for schedule column borders. */
.border-to-right {
  border-right: 1px solid #1783ee;
}

.border-to-bottom {
  border-bottom: 2px solid;
  border-color: #1783ee;
}

.border-to-bottom-thin {
  border-bottom: 1px solid;
  border-color: #1783ee;
}

.background-red {
  background-color: #d22e33 !important;
}

.text-red {
  color: #d22e33;
}

.logo {
  max-width: 10rem;
  height: auto;
}

.terminateBtn {
  border-color: #d22e33;
  color: #d22e33;
}

.text-white {
  color: whitesmoke;
  font-size: 150%;
}

.nav-link {
  color: #d22e33;
}

.nav > a:hover {
  color: whitesmoke;
}
